.carousel-slider {
    width: 100%;
    overflow: hidden;
}
.carousel-slider__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    opacity: 0;
}
.carousel-slider__list__item {
    width: 100%;
    list-style-type: none;
}
.chromeperfectpixel-overlay-container {
    top: 0 !important;
}
.chromeperfectpixel-overlay {
    width: 100% !important;
    height: auto !important;
}
@font-face {
    font-family: "FiraSans";
    src: url(fonts/Fira_Sans/FiraSans-Regular.ttf);
}
@font-face {
    font-family: "FiraSans-Bold";
    src: url(fonts/Fira_Sans/FiraSans-Bold.ttf);
}
@font-face {
    font-family: "CormorantGaramond";
    src: url(fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}
@font-face {
    font-family: "CormorantGaramond-Medium";
    src: url(fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf);
}
@font-face {
    font-family: "CormorantGaramond-Bold";
    src: url(fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf);
}
@font-face {
    font-family: "CormorantGaramond-SemiBold";
    src: url(fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf);
}
@font-face {
    font-family: "CormorantGaramond-SemiBoldItalic";
    src: url(fonts/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.ttf);
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "CormorantGaramond", serif;
    background-color: #fff;
}
li {
    list-style-type: none;
}
img {
    cursor: pointer;
    vertical-align: middle;
}
a {
    text-decoration: none;
    color: inherit;
}
.badge {
    background-color: #fff;
    min-width: 18px;
    border-radius: 50%;
    height: 18px;
    position: absolute;
    left: 15.312px;
    padding: 6px;
    top: -5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    font-family: "Lato";
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}
.container-big {
    margin: auto;
    max-width: 1720px;
    width: 100%;
    overflow: hidden;
}
.container {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}
.button {
    background-color: #333;
    padding: 15px 29px;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-family: "FiraSans-Bold";
    color: #fff;
    font-weight: bold;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
@media screen and (min-width: 576px) {
    .button {
        font-size: 12px;
    }
}
@media screen and (min-width: 992px) {
    .button {
        font-size: 14px;
    }
}
@media screen and (min-width: 1400px) {
    .button {
        font-size: 16px;
    }
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    row-gap: 30px;
    padding: 0;
    list-style: none outside;
    clear: both;
}
.row.gutter-50 {
    margin-left: -25px;
    margin-right: -25px;
    row-gap: 50px;
}
.row.gutter-50 > * {
    padding-left: 25px;
    padding-right: 25px;
}
@media screen and (min-width: 1400px) {
    .row.gutter-xxl-50 {
        margin-left: -25px;
        margin-right: -25px;
        row-gap: 50px;
    }
    .row.gutter-xxl-50 > * {
        padding-left: 25px;
        padding-right: 25px;
    }
}
.col-0 {
    display: none;
}
.col-2 {
    display: initial;
    width: calc(100% / 12 * 2);
    padding-left: 15px;
    padding-right: 15px;
}
.col-3 {
    display: initial;
    width: calc(100% / 12 * 3);
    padding-left: 15px;
    padding-right: 15px;
}
.col-4 {
    display: initial;
    width: calc(100% / 12 * 4);
    padding-left: 15px;
    padding-right: 15px;
}
.col-6 {
    display: initial;
    width: calc(100% / 12 * 6);
    padding-left: 15px;
    padding-right: 15px;
}
.col-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (min-width: 576px) {
    .col-sm-0 {
        display: none;
    }
}
@media screen and (min-width: 576px) {
    .col-sm-2 {
        display: initial;
        width: calc(100% / 12 * 2);
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 576px) {
    .col-sm-3 {
        display: initial;
        width: calc(100% / 12 * 3);
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 576px) {
    .col-sm-4 {
        display: initial;
        width: calc(100% / 12 * 4);
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 576px) {
    .col-sm-6 {
        display: initial;
        width: calc(100% / 12 * 6);
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 576px) {
    .col-sm-12 {
        display: initial;
        width: calc(100% / 12 * 12);
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 768px) {
    .col-md-0 {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .col-md-2 {
        display: initial;
        width: calc(100% / 12 * 2);
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 768px) {
    .col-md-3 {
        display: initial;
        width: calc(100% / 12 * 3);
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 768px) {
    .col-md-4 {
        display: initial;
        width: calc(100% / 12 * 4);
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 768px) {
    .col-md-6 {
        display: initial;
        width: calc(100% / 12 * 6);
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 992px) {
    .col-lg-0 {
        display: none;
    }
}
@media screen and (min-width: 992px) {
    .col-lg-2 {
        display: initial;
        width: calc(100% / 12 * 2);
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 992px) {
    .col-lg-3 {
        display: initial;
        width: calc(100% / 12 * 3);
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 992px) {
    .col-lg-4 {
        display: initial;
        width: calc(100% / 12 * 4);
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 992px) {
    .col-lg-6 {
        display: initial;
        width: calc(100% / 12 * 6);
        padding-left: 15px;
        padding-right: 15px;
    }
}
.line {
    width: 100%;
    border-bottom: 1px solid #eeeeee;
}
@media screen and (min-width: 576px) {
    .hidden-sm {
        display: none !important;
    }
}
@media screen and (min-width: 768px) {
    .hidden-md {
        display: none !important;
    }
}
@media screen and (min-width: 992px) {
    .hidden-lg {
        display: none !important;
    }
}
@media screen and (min-width: 1200px) {
    .hidden-xl {
        display: none !important;
    }
}
@media screen and (min-width: 1400px) {
    .hidden-xxl {
        display: none !important;
    }
}
@media screen and (max-width: 575px) {
    .hidden-max-sm {
        display: none !important;
    }
}
@media screen and (max-width: 767px) {
    .hidden-max-md {
        display: none !important;
    }
}
@media screen and (max-width: 991px) {
    .hidden-max-lg {
        display: none !important;
    }
}
@media screen and (max-width: 1199px) {
    .hidden-max-xl {
        display: none !important;
    }
}
@media screen and (max-width: 1399px) {
    .hidden-max-xxl {
        display: none !important;
    }
}
.mt-1 {
    margin-top: 1px;
}
.mt-2 {
    margin-top: 2px;
}
.mt-3 {
    margin-top: 3px;
}
.mt-4 {
    margin-top: 4px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-6 {
    margin-top: 6px;
}
.mt-7 {
    margin-top: 7px;
}
.mt-8 {
    margin-top: 8px;
}
.mt-9 {
    margin-top: 9px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-11 {
    margin-top: 11px;
}
.mt-12 {
    margin-top: 12px;
}
.mt-13 {
    margin-top: 13px;
}
.mt-14 {
    margin-top: 14px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-16 {
    margin-top: 16px;
}
.mt-17 {
    margin-top: 17px;
}
.mt-18 {
    margin-top: 18px;
}
.mt-19 {
    margin-top: 19px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-21 {
    margin-top: 21px;
}
.mt-22 {
    margin-top: 22px;
}
.mt-23 {
    margin-top: 23px;
}
.mt-24 {
    margin-top: 24px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-26 {
    margin-top: 26px;
}
.mt-27 {
    margin-top: 27px;
}
.mt-28 {
    margin-top: 28px;
}
.mt-29 {
    margin-top: 29px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-31 {
    margin-top: 31px;
}
.mt-32 {
    margin-top: 32px;
}
.mt-33 {
    margin-top: 33px;
}
.mt-34 {
    margin-top: 34px;
}
.mt-35 {
    margin-top: 35px;
}
.mt-36 {
    margin-top: 36px;
}
.mt-37 {
    margin-top: 37px;
}
.mt-38 {
    margin-top: 38px;
}
.mt-39 {
    margin-top: 39px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-41 {
    margin-top: 41px;
}
.mt-42 {
    margin-top: 42px;
}
.mt-43 {
    margin-top: 43px;
}
.mt-44 {
    margin-top: 44px;
}
.mt-45 {
    margin-top: 45px;
}
.mt-46 {
    margin-top: 46px;
}
.mt-47 {
    margin-top: 47px;
}
.mt-48 {
    margin-top: 48px;
}
.mt-49 {
    margin-top: 49px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-51 {
    margin-top: 51px;
}
.mt-52 {
    margin-top: 52px;
}
.mt-53 {
    margin-top: 53px;
}
.mt-54 {
    margin-top: 54px;
}
.mt-55 {
    margin-top: 55px;
}
.mt-56 {
    margin-top: 56px;
}
.mt-57 {
    margin-top: 57px;
}
.mt-58 {
    margin-top: 58px;
}
.mt-59 {
    margin-top: 59px;
}
.mt-60 {
    margin-top: 60px;
}
.mt-61 {
    margin-top: 61px;
}
.mt-62 {
    margin-top: 62px;
}
.mt-63 {
    margin-top: 63px;
}
.mt-64 {
    margin-top: 64px;
}
.mt-65 {
    margin-top: 65px;
}
.mt-66 {
    margin-top: 66px;
}
.mt-67 {
    margin-top: 67px;
}
.mt-68 {
    margin-top: 68px;
}
.mt-69 {
    margin-top: 69px;
}
.mt-70 {
    margin-top: 70px;
}
.mt-71 {
    margin-top: 71px;
}
.mt-72 {
    margin-top: 72px;
}
.mt-73 {
    margin-top: 73px;
}
.mt-74 {
    margin-top: 74px;
}
.mt-75 {
    margin-top: 75px;
}
.mt-76 {
    margin-top: 76px;
}
.mt-77 {
    margin-top: 77px;
}
.mt-78 {
    margin-top: 78px;
}
.mt-79 {
    margin-top: 79px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-81 {
    margin-top: 81px;
}
.mt-82 {
    margin-top: 82px;
}
.mt-83 {
    margin-top: 83px;
}
.mt-84 {
    margin-top: 84px;
}
.mt-85 {
    margin-top: 85px;
}
.mt-86 {
    margin-top: 86px;
}
.mt-87 {
    margin-top: 87px;
}
.mt-88 {
    margin-top: 88px;
}
.mt-89 {
    margin-top: 89px;
}
.mt-90 {
    margin-top: 90px;
}
.mt-91 {
    margin-top: 91px;
}
.mt-92 {
    margin-top: 92px;
}
.mt-93 {
    margin-top: 93px;
}
.mt-94 {
    margin-top: 94px;
}
.mt-95 {
    margin-top: 95px;
}
.mt-96 {
    margin-top: 96px;
}
.mt-97 {
    margin-top: 97px;
}
.mt-98 {
    margin-top: 98px;
}
.mt-99 {
    margin-top: 99px;
}
.mt-100 {
    margin-top: 100px;
}
.header {
    position: absolute;
    width: 100%;
    overflow-x: hidden;
}
.header__menu {
    padding-top: 29px;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header__menu .logo {
    margin-left: 15px;
}
@media screen and (min-width: 1720px) {
    .header__menu .logo {
        margin-left: 0;
    }
}
.header__menu .menu__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 11px;
    margin-top: -2px;
}
.header__menu .menu__right__item {
    position: relative;
}
.header__menu .menu__right__item:not(:last-of-type) {
    margin-right: 30px;
}
@media screen and (min-width: 1400px) {
    .header__menu .menu__right__item:not(:last-of-type) {
        margin-left: 0;
        margin-right: 50px;
    }
}
.header-bg {
    height: 112px;
    background-color: #e4b56f;
}
.footer {
    background-color: #333;
}
.footer__group-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 0;
    min-height: 250px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.footer__group-1 > *:not(:last-child) {
    margin-right: 0px;
}
@media screen and (min-width: 1200px) {
    .footer__group-1 > *:not(:last-child) {
        margin-right: 30px;
    }
}
@media screen and (min-width: 1200px) {
    .footer__group-1 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}
.footer__group-1 .logo-container {
    margin-bottom: 15px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
@media screen and (min-width: 1200px) {
    .footer__group-1 .logo-container {
        margin-top: 7px;
    }
}
.footer__group-1 .footer-navigation {
    -webkit-box-flex: 2.25;
    -ms-flex: 2.25;
    flex: 2.25;
}
@media screen and (min-width: 1200px) {
    .footer__group-1 .footer-navigation {
        margin-top: 75px;
    }
}
.footer__group-1 .footer-navigation ul.links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@media screen and (min-width: 1200px) {
    .footer__group-1 .footer-navigation ul.links {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}
.footer__group-1 .footer-navigation ul.links li:not(:last-of-type) {
    margin-right: 33px;
}
.footer__group-1 .footer-navigation ul.links li a {
    text-decoration: none;
    font-size: 14px;
    font-family: "FiraSans-Bold";
    color: #ababab;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.714;
    letter-spacing: 0.1em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.footer__group-1 .footer-navigation ul.links li a:hover {
    color: #d6ba8d;
}
.footer__group-1 .subscribe {
    height: 40px;
    margin-top: 0px;
    padding: 0 18px;
    border: 2px solid #696969;
    font-size: 14px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "FiraSans-Bold";
    color: #ababab;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}
@media screen and (min-width: 1200px) {
    .footer__group-1 .subscribe {
        margin-top: 75px;
    }
}
.footer__group-1 .subscribe > *:not(:last-child) {
    margin-right: 11px;
}
.footer .line {
    border-bottom: 1px solid #2b2b2b;
}
.footer .copy-right,
.footer .address {
    margin-top: 40px;
    font-size: 14px;
    font-family: "FiraSans";
    color: dimgray;
    line-height: 2;
    text-align: left;
    letter-spacing: 0;
}
.footer .copy-right {
    display: block;
    margin-top: 0;
}
.footer ul.socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin-right: 1px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 9px;
}
.footer ul.socials li:not(:last-of-type) {
    margin-right: 9px;
}
.footer ul.socials li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 48px;
    height: 48px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #4e4e4e;
    border-radius: 50%;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.footer ul.socials li a i {
    font-size: 16px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #ababab;
}
.footer ul.socials li a:hover {
    background-color: #d6ba8d;
    border-color: #d6ba8d;
}
.footer ul.socials li a:hover i {
    color: #333;
}
.footer__group-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.footer__group-2 > *:not(:last-child) {
    margin-right: 30px;
}
@media screen and (min-width: 1200px) {
    .footer__group-2 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        min-height: 170px;
    }
}
.footer__group-3 {
    padding-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.slider {
    background: url("images/bg.jpg") no-repeat;
    background-size: cover;
    background-position: 75% 25%;
    overflow: hidden;
}
.slider .container-big {
    overflow: visible;
}
.slider-content {
    max-width: 1460px;
    margin-left: auto;
    padding-left: 15px;
    padding-bottom: 30px;
    min-height: 500px;
    padding-top: 240px;
}
@media screen and (min-width: 576px) {
    .slider-content {
        padding-top: 300px;
    }
}
@media screen and (min-width: 1400px) {
    .slider-content {
        min-height: 1000px;
        padding-top: 342px;
    }
}
.slider-content__group-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.slider-content__group-1 .slider-heading .slider-date {
    font-size: 16.339px;
    font-family: "FiraSans";
    letter-spacing: 0.5em;
    color: dimgray;
    line-height: 1.333;
}
@media screen and (min-width: 576px) {
    .slider-content__group-1 .slider-heading .slider-date {
        font-size: 20.339px;
    }
}
@media screen and (min-width: 992px) {
    .slider-content__group-1 .slider-heading .slider-date {
        font-size: 24.339px;
    }
}
.slider-content__group-1 .slider-heading .slider-slogan {
    font-size: 40px;
    font-family: "CormorantGaramond-SemiBoldItalic";
    color: #333;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    letter-spacing: 0.3em;
    margin-top: calc(75px - 42px);
}
@media screen and (min-width: 576px) {
    .slider-content__group-1 .slider-heading .slider-slogan {
        font-size: 60px;
    }
}
@media screen and (min-width: 992px) {
    .slider-content__group-1 .slider-heading .slider-slogan {
        font-size: 80px;
    }
}
@media screen and (min-width: 1400px) {
    .slider-content__group-1 .slider-heading .slider-slogan {
        font-size: 100px;
    }
}
.slider-content__group-1 .slider-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 80px;
    padding-right: 11px;
}
@media screen and (min-width: 1720px) {
    .slider-content__group-1 .slider-socials {
        padding-right: 0px;
    }
}
.slider-content__group-1 .slider-socials li {
    list-style: none;
}
.slider-content__group-1 .slider-socials li a {
    font-size: 13px;
    font-family: "CormorantGaramond-Medium";
    color: #fff;
    line-height: 1.667;
    text-align: right;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
@media screen and (min-width: 576px) {
    .slider-content__group-1 .slider-socials li a {
        font-size: 16px;
    }
}
@media screen and (min-width: 992px) {
    .slider-content__group-1 .slider-socials li a {
        font-size: 20px;
    }
}
@media screen and (min-width: 1400px) {
    .slider-content__group-1 .slider-socials li a {
        font-size: 24px;
    }
}
.slider-content__group-1 .slider-socials li a:after {
    content: "";
    border-bottom: 2px solid #535353;
    width: 150px;
    height: 1px;
    margin-left: 20px;
    margin-right: calc(-150px - 20px);
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.slider-content__group-1 .slider-socials li a:hover {
    color: #feffff;
}
.slider-content__group-1 .slider-socials li a:hover:after {
    color: #e7e7e7;
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
.slider-content .slider-btn-layout {
    margin-top: 53px;
}
.intro {
    min-height: 410px;
}
.intro .intro__services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-left: 1px solid #efefef;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .intro .intro__services {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}
.intro .intro__services .intro__service {
    min-height: 80px;
    -webkit-box-flex: 400;
    -ms-flex: 400;
    flex: 400;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.intro .intro__services .intro__service:first-of-type {
    -webkit-box-flex: 383;
    -ms-flex: 383;
    flex: 383;
}
.intro .intro__services .intro__service:last-of-type {
    -webkit-box-flex: 385;
    -ms-flex: 385;
    flex: 385;
}
.intro .intro__services .intro__service .title {
    padding: 21px 10px 0px 10px;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-family: "CormorantGaramond";
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.intro .intro__services .intro__service .description {
    font-size: 14px;
    font-family: "FiraSans";
    color: #ababab;
    text-align: center;
    padding: 6px 10px 10px 10px;
}
.intro .intro__divider {
    border-bottom: 1px solid #efefef;
    margin-top: -1px;
}
.intro .intro__guide-line {
    padding: 111.5px 0 122px 0;
    font-size: 34px;
    font-family: "CormorantGaramond-SemiBold";
    color: #333;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
}
.feature-items img {
    width: 100%;
}
@media screen and (max-width: 1919px) {
    .feature-items img {
        height: 100%;
    }
}
.feature-items .text-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    padding: 10px;
    min-height: 22%;
}
.feature-item,
.feature-item-1,
.feature-item-2,
.feature-item-3,
.feature-item-6 {
    height: 100%;
    position: relative;
}
.feature-item-1 .text-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    padding: 10px;
    min-height: 22%;
}
.feature-item-1 .name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    letter-spacing: 0.05em;
    line-height: 1;
    font-family: "FiraSans";
    color: #333;
    text-align: center;
    font-size: 34px;
}
@media screen and (min-width: 576px) {
    .feature-item-1 .name {
        font-size: 24px;
    }
}
@media screen and (min-width: 768px) {
    .feature-item-1 .name {
        font-size: 20px;
    }
}
@media screen and (min-width: 1200px) {
    .feature-item-1 .name {
        font-size: 24px;
    }
}
.feature-item-1 .price {
    line-height: 1;
    font-family: "CormorantGaramond-Bold";
    color: #d6ba8d;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 7% 0;
    font-size: 34px;
}
@media screen and (min-width: 576px) {
    .feature-item-1 .price {
        font-size: 24px;
    }
}
@media screen and (min-width: 768px) {
    .feature-item-1 .price {
        font-size: 20px;
    }
}
@media screen and (min-width: 1200px) {
    .feature-item-1 .price {
        font-size: 24px;
    }
}
.feature-item-2 .text__sale-up-to {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: "FiraSans";
    color: #333;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 12px;
    padding-top: 0px;
}
@media screen and (min-width: 576px) {
    .feature-item-2 .text__sale-up-to {
        font-size: 18px;
        padding-top: 0px;
    }
}
@media screen and (min-width: 768px) {
    .feature-item-2 .text__sale-up-to {
        font-size: 12px;
        padding-top: 0px;
    }
}
@media screen and (min-width: 992px) {
    .feature-item-2 .text__sale-up-to {
        font-size: 18px;
        padding-top: 0px;
    }
}
@media screen and (min-width: 1200px) {
    .feature-item-2 .text__sale-up-to {
        font-size: 18px;
        padding-top: 0px;
    }
}
@media screen and (min-width: 1400px) {
    .feature-item-2 .text__sale-up-to {
        font-size: 18px;
        padding-top: 10px;
    }
}
@media screen and (min-width: 1720px) {
    .feature-item-2 .text__sale-up-to {
        font-size: 18px;
        padding-left: 10px;
        padding-top: 33px;
    }
}
.feature-item-2 .text__percent {
    font-family: "CormorantGaramond";
    color: #333;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-left: 4px;
}
@media screen and (min-width: 576px) {
    .feature-item-2 .text__percent {
        font-size: 90px;
        margin-left: 4px;
    }
}
@media screen and (min-width: 768px) {
    .feature-item-2 .text__percent {
        font-size: 60px;
        margin-left: 4px;
    }
}
@media screen and (min-width: 992px) {
    .feature-item-2 .text__percent {
        font-size: 70px;
        margin-left: 4px;
    }
}
@media screen and (min-width: 1200px) {
    .feature-item-2 .text__percent {
        font-size: 90px;
        margin-left: 4px;
    }
}
@media screen and (min-width: 1400px) {
    .feature-item-2 .text__percent {
        font-size: 100px;
        margin-left: 4px;
    }
}
@media screen and (min-width: 1720px) {
    .feature-item-2 .text__percent {
        font-size: 100px;
        margin-left: 4px;
    }
}
.feature-item-2 .text__title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: "CormorantGaramond-Bold";
    color: dimgray;
    font-weight: bold;
    text-align: center;
    font-size: 9px;
    margin-top: 10px;
    margin-left: 4px;
}
@media screen and (min-width: 576px) {
    .feature-item-2 .text__title {
        font-size: 18px;
        margin-top: 10px;
        margin-left: 4px;
    }
}
@media screen and (min-width: 768px) {
    .feature-item-2 .text__title {
        font-size: 11px;
        margin-top: 10px;
        margin-left: 4px;
    }
}
@media screen and (min-width: 992px) {
    .feature-item-2 .text__title {
        font-size: 15px;
        margin-top: 10px;
        margin-left: 4px;
    }
}
@media screen and (min-width: 1200px) {
    .feature-item-2 .text__title {
        font-size: 19px;
        margin-top: 10px;
        margin-left: 4px;
    }
}
@media screen and (min-width: 1400px) {
    .feature-item-2 .text__title {
        font-size: 22px;
        margin-top: 10px;
        margin-left: 4px;
    }
}
@media screen and (min-width: 1720px) {
    .feature-item-2 .text__title {
        font-size: 24px;
        margin-top: 10px;
        margin-left: 4px;
    }
}
.feature-item-2 .text__shop-now {
    text-decoration: none;
    font-family: "FiraSans-Bold";
    color: dimgray;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 10px;
}
@media screen and (min-width: 576px) {
    .feature-item-2 .text__shop-now {
        font-size: 14px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
}
@media screen and (min-width: 768px) {
    .feature-item-2 .text__shop-now {
        font-size: 12px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
}
@media screen and (min-width: 992px) {
    .feature-item-2 .text__shop-now {
        font-size: 14px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
}
@media screen and (min-width: 1200px) {
    .feature-item-2 .text__shop-now {
        font-size: 14px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
}
@media screen and (min-width: 1400px) {
    .feature-item-2 .text__shop-now {
        font-size: 14px;
        margin-bottom: 14px;
        margin-left: 10px;
    }
}
@media screen and (min-width: 1720px) {
    .feature-item-2 .text__shop-now {
        font-size: 14px;
        margin-bottom: 14px;
        margin-left: 10px;
    }
}
.feature-item-2 .text-wrapper {
    right: 5%;
    top: 17%;
    position: absolute;
    width: 33.3%;
}
.feature-item-2 .text-wrapper .text-container {
    position: absolute;
    padding: 10px;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}
.feature-item-2 .text-wrapper .text-container .group-1 {
    margin-top: -15px;
}
@media screen and (min-width: 576px) {
    .feature-item-2 .text-wrapper .text-container .group-1 {
        margin-top: -58px;
    }
}
@media screen and (min-width: 768px) {
    .feature-item-2 .text-wrapper .text-container .group-1 {
        margin-top: -35px;
    }
}
@media screen and (min-width: 992px) {
    .feature-item-2 .text-wrapper .text-container .group-1 {
        margin-top: -35px;
    }
}
@media screen and (min-width: 1200px) {
    .feature-item-2 .text-wrapper .text-container .group-1 {
        margin-top: -58px;
    }
}
@media screen and (min-width: 1400px) {
    .feature-item-2 .text-wrapper .text-container .group-1 {
        margin-top: -58px;
    }
}
@media screen and (min-width: 1720px) {
    .feature-item-2 .text-wrapper .text-container .group-1 {
        margin-top: -58px;
    }
}
.feature-item-3 .text-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px;
    min-height: 22%;
}
.feature-item-3 .new-collection {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: "FiraSans";
    color: #333;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 15px;
    margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
    .feature-item-3 .new-collection {
        font-size: 10px;
        margin-bottom: 9px;
    }
}
@media screen and (min-width: 1200px) {
    .feature-item-3 .new-collection {
        margin-bottom: 18px;
        margin-left: 0;
        text-align: center;
    }
}
@media screen and (min-width: 1400px) {
    .feature-item-3 .new-collection {
        font-size: 14px;
        margin-bottom: 18px;
        margin-left: 0;
        text-align: center;
    }
}
@media screen and (min-width: 1720px) {
    .feature-item-3 .new-collection {
        font-size: 14px;
        margin-bottom: 18px;
        margin-left: 36px;
        text-align: left;
    }
}
.feature-item-3 .left-ring {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: "CormorantGaramond-Bold";
    color: #d6ba8d;
    font-weight: bold;
    font-size: 52px;
    margin-bottom: 40px;
    text-align: center;
}
@media screen and (min-width: 576px) {
    .feature-item-3 .left-ring {
        font-size: 36px;
    }
}
@media screen and (min-width: 768px) {
    .feature-item-3 .left-ring {
        font-size: 30px;
    }
}
@media screen and (min-width: 1200px) {
    .feature-item-3 .left-ring {
        margin-bottom: 44px;
        font-size: 41px;
    }
}
@media screen and (min-width: 1400px) {
    .feature-item-3 .left-ring {
        margin-bottom: 44px;
        font-size: 53px;
    }
}
@media screen and (min-width: 1720px) {
    .feature-item-3 .left-ring {
        margin-bottom: 45px;
        font-size: 72px;
    }
}
.feature-item-6 .text-container {
    bottom: auto;
    max-width: 250px;
    top: 25%;
    left: 5%;
}
@media screen and (min-width: 1200px) {
    .feature-item-6 .text-container {
        max-width: 300px;
    }
}
.feature-item-6 .text__ring-rose-gold {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: "CormorantGaramond-Bold";
    color: #333;
    font-weight: bold;
    line-height: 1.167;
    text-align: left;
    font-size: 28px;
}
@media screen and (min-width: 576px) {
    .feature-item-6 .text__ring-rose-gold {
        font-size: 32px;
    }
}
@media screen and (min-width: 768px) {
    .feature-item-6 .text__ring-rose-gold {
        font-size: 31px;
    }
}
@media screen and (min-width: 992px) {
    .feature-item-6 .text__ring-rose-gold {
        font-size: 36px;
    }
}
@media screen and (min-width: 1200px) {
    .feature-item-6 .text__ring-rose-gold {
        font-size: 40px;
    }
}
@media screen and (min-width: 1400px) {
    .feature-item-6 .text__ring-rose-gold {
        font-size: 44px;
    }
}
@media screen and (min-width: 1720px) {
    .feature-item-6 .text__ring-rose-gold {
        font-size: 48px;
    }
}
.feature-item-6 .text__rose-gold-plated {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: "FiraSans";
    color: dimgray;
    letter-spacing: 0.05em;
    line-height: 1.714;
    text-align: left;
    font-size: 11px;
}
@media screen and (min-width: 576px) {
    .feature-item-6 .text__rose-gold-plated {
        font-size: 12px;
    }
}
@media screen and (min-width: 1720px) {
    .feature-item-6 .text__rose-gold-plated {
        margin-top: 20px;
        margin-left: 5px;
        font-size: 14px;
    }
}
.feature-products__heading {
    height: 250px;
    padding-top: 57px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.feature-products__heading__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    row-gap: 20px;
}
.feature-products .title {
    font-size: 56px;
    font-family: "CormorantGaramond-Bold";
    color: #333;
    font-weight: bold;
    line-height: 0.5;
    white-space: nowrap;
}
.feature-products .view-more {
    white-space: nowrap;
    font-size: 14px;
    margin-right: 9px;
    letter-spacing: 0.13em;
    margin-bottom: -29.5px;
    font-family: "FiraSans-Bold";
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.714;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.feature-products .view-more:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 12px;
    background: url("images/icons/view-more.png") no-repeat 0 0;
}
.product-item img.product-thumb {
    width: 100%;
    height: 100%;
}
.product-item__image-container {
    position: relative;
}
.product-item__image-container .next,
.product-item__image-container .prev {
    position: absolute;
    top: 42.5%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    left: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background: url("images/icons/prev.png") no-repeat 0 0;
    background-position: center;
}
.product-item__image-container .next:hover,
.product-item__image-container .prev:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 6px;
}
.product-item__image-container .next {
    left: auto;
    right: 0px;
    background: url("images/icons/next.png") no-repeat 0 0;
    background-position: center;
}
.product-item__image-container:hover .next,
.product-item__image-container:hover .prev {
    opacity: 1;
}
.product-item__image-container:hover .next.disabled,
.product-item__image-container:hover .prev.disabled {
    opacity: 0.3;
}
.product-item__image-container .add-to-card-container {
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.product-item__image-container .add-to-card-container .add-to-card {
    text-decoration: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #d6ba8d;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-family: "FiraSans-Bold";
    color: #fff;
    font-weight: bold;
    margin-left: 0px;
    text-transform: uppercase;
}
@media screen and (min-width: 768px) {
    .product-item__image-container .add-to-card-container .add-to-card {
        font-size: 14px;
    }
}
.product-item__image-container .add-to-card-container .add-to-card .button {
    padding: inherit;
    background-color: inherit;
    color: inherit;
    padding: 0 5px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.product-item__image-container
    .add-to-card-container
    .add-to-card
    > *:not(:first-child) {
    display: none;
}
.product-item__image-container .add-to-card-container .other-icon {
    height: 40px;
    width: 40px;
    background-color: #333;
    opacity: 0.8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 1px;
}
.product-item__image-container:hover .add-to-card-container {
    opacity: 1;
}
.product-item__text {
    height: 61px;
}
.product-item__text .name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 18px;
    font-size: 14px;
    font-family: "FiraSans";
    color: #333;
    letter-spacing: 0.05em;
    text-align: center;
}
.product-item__text .price {
    padding-top: 7px;
    font-size: 18px;
    font-family: "CormorantGaramond-Bold";
    color: #d6ba8d;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
}
.blogs {
    background-color: #faf9f9;
}
.blogs__header {
    height: 108.5px;
    text-align: center;
    margin-top: 124px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 15px;
}
.blogs__header .title {
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
    font-size: 56px;
    font-family: "CormorantGaramond";
    color: #333;
    font-weight: bold;
    line-height: 1.2;
}
.blog-item {
    background-color: #fff;
}
.blog-item img.thumb {
    width: 100%;
    height: 100%;
}
.blog-item__padding-line {
    padding: 0 28px;
}
.blog-item__padding {
    padding: 0 38px 0 33px;
}
.blog-item__date {
    font-size: 14px;
    font-family: "FiraSans";
    color: #ccc;
    text-transform: uppercase;
    line-height: 1.714;
    padding-top: 24px;
    letter-spacing: 0.1em;
}
.blog-item__title {
    height: 115px;
    padding-top: 19px;
}
.blog-item__title .inner-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 24px;
    font-family: "CormorantGaramond";
    color: #333;
    font-weight: bold;
    line-height: 32px;
    text-align: left;
    letter-spacing: 0.05em;
}
.blog-item__share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    font-family: "FiraSans";
    padding-top: 18px;
    padding-bottom: 23px;
    color: dimgray;
}
.blog-item__share .share-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.blog-item__share .share-item:not(:last-of-type) {
    margin-right: 28px;
}
.blog-item__share .share-item > *:not(:last-child) {
    margin-right: 10.5px;
}
.blogs-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 197px;
}
.blogs-btns .blogs-btn {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 30px 0px #00000012;
    box-shadow: 0px 0px 30px 0px #00000012;
    width: 143px;
    height: 16px;
    text-decoration: none;
    margin-bottom: 22px;
}
.blogs-btns .blogs-btn span {
    margin-top: -13px;
    margin-left: -5px;
    display: block;
    font-size: 24px;
    font-family: "CormorantGaramond";
    color: #333;
    line-height: 28px;
    text-align: center;
}
.brands {
    min-height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.brands .brands__list {
    margin-top: -15px;
    row-gap: 0px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.brands .brands__list img {
    padding: 10px;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.brands .brands__list img:hover {
    opacity: 1;
}
.blogs-detail img.thumb {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: 100%;
}
.blogs-detail .content {
    font-size: 18px;
}
.blogs-detail .container.content {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
