.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
    padding: 10px;
}

.woocommerce .woocommerce-ordering select {
    padding: 5px;
}

.select2-container .select2-selection--single {
    height: 41px;
    display: flex;
    align-items: center;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 41px;
}
